@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("fontawesome-all.min.css");

html {
  background-color: rgb(24, 24, 23);
}

body {
  text-align: center;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%; 
}

a {
  color: black;
}

a:hover {
  color: gray !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    padding-bottom: 40px;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .close {
    background: white;
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
.close:after {
    content: '';
    height: 60px;
    border-left: 2px solid gray;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.close:before {
    content: '';
    height: 60px;
    border-left: 2px solid gray;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}

/* Large */

@media screen and (max-width: 1280px) {

  /* Basic */

    body {
      font-size: 11pt;
    }

      img {
        width: 24em;
        height: 24em;
        margin: 0;
      }

}

/* Medium */

@media screen and (max-width: 980px) {

     img {
        margin: 0 auto 2em auto;
      }

}

/* Small */

@media screen and (max-width: 736px) {

  /* Basic */

    body {
      padding-top: 44px;
    }

    body {
      line-height: 1.75em;
      font-size: 10pt;
      letter-spacing: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      font-size: 1.25em;
      margin: 0 0 0.4em 0;
    }

    h1 {
      font-size: 2.25em;
      line-height: 1.25em;
    }

  /* Articles */

      img {
        width: 15em;
        height: 15em;
        margin-bottom: 0;
      }

      p {
        font-size: 1em;
      }

}