html {
  background-color: rgb(24, 24, 23);
}

body {
    text-align: center;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    height: 100%;
  }

  a {
    color: black;
  }

  a:hover {
    color: gray !important;
  }

  h1 {
    text-align: center;
  }
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      text-align: center;
      padding-bottom: 40px;
      background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
    
    .close {
      background: white;
      width: 60px;
      height: 60px;
      position: relative;
      cursor: pointer;
  }
  .close:after {
      content: '';
      height: 60px;
      border-left: 2px solid gray;
      position: absolute;
      transform: rotate(45deg);
      left: 28px;
  }
  
  .close:before {
      content: '';
      height: 60px;
      border-left: 2px solid gray;
      position: absolute;
      transform: rotate(-45deg);
      left: 28px;
  }